﻿@using System.Configuration
@{
    ViewBag.Title = "isSuperAwesome";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/urlmapping.js")" type="text/javascript"> </script>
<div id="wrap" >
    <div id = "main" class="container text-center light_text">
        <h2 ><span class="orange">Love</span> for me is a warm fuzzy feeling... </h2>
        <h3> When you're fond of someone soo much... that they become ur world !!</h3>
        <h3>.. n ur willing to do anything for them. </h3> 
        <h4> It doesn't necessarily have to be love between two people,
            it could also be love for God your family, friends, pets etc. 
            Infact it could just be that you appreciate someone soo much, that you wanna do something special for them. 
        </h4>
        <h4> Here's one of the things you could right away.. </h4>
        <h3> Create a fan page, and share it with the world ! </h3>
        <h4 class="test"> No Sign Up required </h4>
        <br/>
        @{
            string domainName = ConfigurationManager.AppSettings["DomanName"];
        }
        <b class="big_font" ><input type="text" class="text-center" style="font-weight: bold; color: #C24641; "/>.@domainName</b>
        <div>
            @*        @Html.ActionLink("Create Website"+ "<br />" + "No SignUp Required", "Create", "Url",new {},new {@class="btn btn-primary btn-large blocky"})*@
            <a href="@Url.Action("Create","Url")" class="btn btn-inverse btn-large">Create Website
            </a>
        </div>
    </div>
</div>
<footer class="navbar navbar-fixed-bottom text-center ">
        @Html.ActionLink("Privacy","Index","Privacy",null,new {@class = "whitish_footer FontSmall"}) &nbsp; &nbsp;
        @Html.ActionLink("Terms Of Service","Index","Terms",null,new {@class = "whitish_footer FontSmall"})  &nbsp; &nbsp;
        @Html.ActionLink("Contact Us","Index","ContactUs",null,new {@class = "whitish_footer FontSmall"})
</footer>
