﻿@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Lolp</title>
    </head>
    <body>
        <div>
            lolp   
            @if(Model!=null)
            {
                @Model
            }
        </div>
    </body>
</html>