﻿@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div class="text-center light_text">
        <h3> Sign in to create a website right away !! </h3>

        <br/>

        @Html.Partial("_ExternalLoginsListPartial")
    </div>
</div>