﻿@model People.Models.PostsViewModel
@{
    ViewBag.Title = "Create Site";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="hero-unit">
        <h2>Create Site</h2>

        @using (Html.BeginForm("Create", "Url", FormMethod.Post, new { id = "createSiteForm" }))
        {
            <div>
                <input id="subdomain" type="text" class="hero-unit" name="subdomain" value="@Model.Subdomain" data-ajaxurl="@Url.Action("IsDomainFree")"/> 
                <i>@ViewBag.DomainNameWithDot</i> 
                <span id="subdomainAvailability"></span>
            </div>
            @Html.ValidationMessageFor(model => model.Subdomain)
            <div>@Html.ValidationMessage("subDomainChosen",new {@class="text-error"})</div>
            
            <a href="http://imgur.com" target="_blank"><img src="~/Content/img/imgur.png" alt="Imgur" class="pull-right"></a>
            
            <b>Title</b>
            <input type="text" class="input-block-level" name="title" value="@Model.Title"/>  
            @Html.ValidationMessageFor(model => model.Title)
            <br/>
            <div>
                <textarea class="ckeditor" id="body" name="body">@Model.Body</textarea>
            </div>
            @Html.ValidationMessageFor(model => model.Body)
            <br />
            <p>Enable Comments ? 
                <input checked="checked"  id="enableComments" name="commentable" type="checkbox" value="true">
            </p>
            <p>Display Website Hits ? 
                <input id="enableHits" name="ShowHits" type="checkbox" value="true">
            </p>

            @ReCaptcha.GetHtml()
            
            <input id="postSubmitInput" type="submit" class="btn btn-primary" name="submit" value="Publish !"/>
            <a id="fakePostSubmitInput" class="btn btn-warning btn-small" style="display: none" >
                <i class="icon-upload"></i>
                <span>Publishing...</span>
            </a>
        }
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js" type="text/javascript"></script>
</div>