﻿@model People.Models.PostsViewModel

@{
    ViewBag.Title = "Edit Site";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<div class="container">
    <div class="hero-unit">
        <h2>Edit Site</h2>
        @{ string fullUrl = @Model.Subdomain + ViewBag.DomainNameWithDot; } 
        <h4>@fullUrl</h4>
        @using (Html.BeginForm("Edit", "Url", FormMethod.Post, new{id = "editSiteForm"}))
        {
            @Html.Hidden("id", Model.Id)
            @Html.Hidden("Subdomain", Model.Subdomain)
            <a href="http://imgur.com" target="_blank"><img src="~/Content/img/imgur.png" alt="Imgur" class="pull-right" ></a>
            
            <b>Title</b>
            <input type="text" class="input-block-level" name="title" value="@Model.Title"/>  
            @Html.ValidationMessageFor(model => model.Title)
            <br/>
            <div>
                <textarea name="body" class="ckeditor">@Model.Body</textarea>
            </div>
            @Html.ValidationMessageFor(model => model.Body)
            <br />
            string checkedaa;
            checkedaa = Model.Commentable ? "checked" : "";
            <p>Enable Comments ? 
                <input @checkedaa id="enableComments" name="commentable" type="checkbox" value="true">
            </p>
            <p>Display Website Hits ? 
                <input id="enableHits" name="ShowHits" type="checkbox" value="true">
            </p>
            <input id="postSubmitInput" type="submit" class="btn btn-primary" name="submit" value="Update"/>
            <a id="fakePostSubmitInput" class="btn btn-warning btn-small" style="display: none" >
                <i class="icon-upload"></i>
                <span>Updating...</span>
            </a>
        }
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js" type="text/javascript"></script>
</div>