﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
    
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/urlmapping.js")" type="text/javascript"> </script>
    
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.cftoaster.1.0.0.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/common.css"/>

    <title>@ViewBag.Title</title>
</head>
<body>
        @RenderBody()
   
    @StackExchange.Profiling.MiniProfiler.RenderIncludes() 
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39527578-1']);
        _gaq.push(['_setDomainName', 'issuperawesome.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>
