﻿@using People.Constants
@using People.Helpers
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="~/Content/common.css"/>
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css"/>
    
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/header.js")" type="text/javascript"> </script>
    
        <title>@ViewBag.Title</title>
    </head>
    <body class="tracks">
        @{
            var currentContollerName = ViewContext.RouteData.Values["controller"].ToString();
        }
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </a>
              <div class="nav-collapse collapse">
                  <ul class="nav">
                      @Html.GetMenuItemFor("Home", "Index", "Home", currentContollerName)
                      @if (Request.Cookies[".ASPXAUTH"] != null)                      {                          @Html.GetMenuItemFor("My Profile", "Index", "Profile",currentContollerName)
                          @Html.GetMenuItemFor("Sign Out", "LogOff", "Account",currentContollerName)                      }                      else                      {                          @Html.GetMenuItemFor("Sign In", "Index", "Account",currentContollerName)                      }                  </ul>
@*                  <form class="navbar-form pull-right">*@
                  @using (Html.BeginForm("Index", "Search", new{}, FormMethod.Get, new {@class = "navbar-form pull-right", id = "urlSearchForm"}))
                  {
                       <div class="input-append">
                          <input name ="query" class="span2" id="inputIcon" type="text" placeholder="Search @Constants.SearchTag">
                          <span class="add-on">
                              <i class="icon-search" id="urlSearch"></i>
                          </span>
                      </div>
                  }
@*                      <input class="span2 search-query " type="text" placeholder="Search @Constants.SearchTag" >*@
@*                      <button type="submit" class="btn">Search</button>*@
                      @*                      <i class="icon-search icon-white"></i>*@
@*                  </form>*@
              </div><!--/.nav-collapse -->
          </div>
      </div>
    </div>
        @RenderBody()
       
        @StackExchange.Profiling.MiniProfiler.RenderIncludes() 
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-39527578-1']);
            _gaq.push(['_setDomainName', 'issuperawesome.com']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

</script>
    </body>
</html>
